/* 달력안에 content */
.calendar {
    width: 70%;
    margin: auto;
    font-size: 13px;
    /* border-radius: 20%; */
}

.calendar tr,
.calendar td {
    border: 1px solid rgba(255, 204, 167, 1);
    border-radius: 10%;
}
/* 월 년 요일 */
.calendar th {
    padding: 10px;
    background-color: antiquewhite;
    text-align: center;
    font-size: 23px;
    border-radius: 10%;
}
.calendar th.sun {color: #f02f2f;}
.calendar th.sat {color: #2208e7;}

.calendar td {
    width: 200px;
    height: 150px;
    padding: 20px 0px 0px 5px;
}

.month {
    font-size: 25px;
}

.date {
    font-size: 16px;
}

ul {
    height: 100%;
    padding: 0px 5px 0px 20px;
}

a {
    color: #17a2b8;
}
/* calendar button */
.left {
    float: left;
}

.right {
    float: right;
}

.btn {
    outline: none;
    color: black;
    background-color: transparent;
    box-shadow: 0 0 0 0;
}

.clearfix {
    margin: 15px;
}
.form {
    margin: auto;
    }
    
.form input,
.form select,
.form textarea {
        border-radius: 5px;
        border: 1px solid #17a2b8;
        outline: none;
        background: none;
        padding: 5px;
        width: 100%;
    }